# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Django stuff:
*.sqlite3
db.sqlite3

# Media
media/

# Static files
staticfiles/
static/

# Django migrations
*/migrations/*

# VS Code
.vscode/